*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: #DDCEBB;
  display: flex;
    justify-content: space-around;
}


@media (max-width: 1500px) and ( min-width: 480px ) {
  .greatWebsite{
    width: 1000px;
    background-color: #fff;
    padding: 20px;
  margin: 20px;
  }
  
  a{
    color: black;
  }
  
  button{
    width: 125px;
    height: 30px;
    margin-top: 14px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    font-size: 1.1em;
  }
  
  .img-1{
    width: 500px;
    position: relative;
    top: 25px;
    left: 50px;
    z-index: 2;
  }
  
  .img-2{
    width: 350px;
    position: relative;
    left: 330px;
    top: 85px;
    z-index: 1;
  }
  
  .orang{
    width: 420px;
    height: 500px;
    background-color: orange;
    position: relative;
    left: 550px;
    bottom: 450px;
  
  }
  
  
  .text-2{
    margin-top: -400px;
    font-size: 5em;
  }
  
  .text-3{
    width: 600px;
    font-size: 2em;
  }
  
  .conteiner-2{
    margin-top: 25px;
    background-color: slategray;
    padding: 20px;
    height: 350px; 
   width: 500px;
   z-index: 2;
   position: relative;
  }
  
  .img-3{
    position: relative;
    bottom: 500px;
    left: 320px;
    width: 500px;
    z-index: 1;
  }
}

@media ( max-width: 479px) {
 
    .conteiner {
      background: #DDCEBB;

        padding: 20px;
    }


  .conteiner > .greatWebsite {
    margin: 20px;
    background-color: aliceblue;
    padding: 20px;
    
  } 

  a{
    color: black;
  }
  
  a:hover{
    color: orange;
  }

button{
    width: 105px;
    height: 25px;
    margin-top: 14px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}

.orang{
  width: 220px;
  height: 300px;
  background-color: orange;
  position: relative;
  left: 100px;
  bottom: 450px;

}

.img-1{
  position: relative;
  bottom: 220px;
  left: 35px;
  z-index: 2;
  width: 250px;
}

.img-2{
  position: relative;
  margin-left: 10px;
  margin-top: 50px;
  z-index: 1;
  width: 200px;
}

.text-2{
  margin-top: -400px;
  margin-left: 50px;
}

.text-3{
  width: 250px;
  margin-left: 40px;
}

.conteiner-2{
  margin-top: 25px;
  background-color: slategray;
  padding: 20px;
  height: 490px;
}

.text{
  margin-top: 50px;
}

}